.title-nav{
    text-align: center;
    width: 40%;
}

.menù{
    width: 60%;
    text-align: center;
    padding-left: 300px;
}

ul > li{
    padding: 0 10px;
}

.teal{
    background-color: rgb(66, 199, 177);
    color: white;
}

.img-small{
    height: 250px;
    width: 250px;
}

.star{
    font-size: 30px;
    width: 100%;
}

.img-border{
    border-radius: 15px;
}

.light-blue{
    background-color: rgb(50, 50, 87);
    color: white;
}

.grey{
    background-color: rgb(28,40,65);
    color: white;
}

.green{
    color: rgb(66, 199, 177);
}

.bottone{
    padding: 10px;
}

.fab{  
    font-size: 15px;
    padding: 10px 15px;
    margin: 0 3px;
    border-radius: 50%;
    border: 1px white solid;
}

.fa-google-plus-g{
    padding: 10px;
}